html, body{
    width:100%;
    height:100%;
    margin:0;
  }
  
  .page-wrapper{
    width:100%;
    height:100%;
   background:url(https://i.imgur.com/2ZgHKbQ.jpg) center no-repeat;
    background-size:cover;
  }
  
  .blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  
  a.btn{
    width:150px;
    display:flex;
    flex-direction: column;
    margin:12px 0 0 100px;
    padding:1em 0;
    top:50%; left:50%;
    font:1.125em 'Arial', sans-serif;
    font-weight:700;
    text-align:center;
    text-decoration:none;
    color:#fff;
    border-radius:5px;
    background:rgba(217,67,86,1);
    transition: all 0.25s ease-in-out;
  }

  a.btn:hover {
    background:rgb(136, 110, 114);
    
  }
  
  .modal-wrapper{
    width:100%;
    height:100%;
    position:fixed;
    top:0; left:0;
    background:rgba(255,257,153,0.75);
    visibility:hidden;
    opacity:0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    overflow: auto;
  }
  
  .modal-wrapper.open{
    opacity:1;
    visibility:visible;
    overflow: auto;
  }
  
  .modal{
    width:600px;
    height:fit-content;
    display:block;
    margin:50% 0 0 -300px;
    position:relative;
    top:50%; left:50%;
    background:#fff;
    opacity:0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .modal-wrapper.open .modal{
    margin-top:-200px;
    opacity:1;
  }
  
  .head{
    width:90%;
    height:32px;
    padding:1.5em 5%;
    overflow:hidden;
    background:#01bce5;
  }
  
  .btn-close{
    width:32px;
    height:32px;
    display:block;
    float:right;
  }
  
  .btn-close::before, .btn-close::after{
    content:'';
    width:32px;
    height:6px;
    display:block;
    background:#fff;
  }
  
  .btn-close::before{
    margin-top:12px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  
  .btn-close::after{
    margin-top:-6px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }
  
  .content{
    padding:5%;
    
  }


  .btnsdiv{

    
    display:block;
    margin:-25px 0 0 -75px;
    padding:1em 0;
    position:absolute;


  }

  .raw_lines {
    display: none;
}
.cntdiv {
  position: fixed; /* or absolute */
 
    

      left: 50%;
  
  /* float:left; */
  /* margin-left: 100px; */
  background-color: rgba(255,255,255, 0.7); /* Цвет фона */
  padding: 5px; /* Поля вокруг текста */
  /* opacity: 0.7;  */
  filter: alpha(Opacity=70); /* Прозрачность в IE */
  color: #000; /* Цвет текста */
  width: 800px;
  margin: 0 0 0 -400px;
  border-radius: 15px;
  /* overflow: auto; */

 

}

/* #cnt {
  
} */

.foo {
 
    /* position: absolute; */
    /* background: url(onload.jpg) center no-repeat; */
    /* width: 100%; */
    /* height: 100%; */
    background-size: cover;
    /*Устанавливаем время и имя анимации*/
    -webkit-animation-duration: 5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
   
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0; margin-left: -50%;}
  100% {opacity: 1; margin-left: 0%;}
  }
  @keyframes fadeIn {
  0% {opacity: 0; margin-left: -50%;}
  80% {opacity: 0.5; margin-left: 10%;}
  100% {opacity: 1; margin-left: 0%;}
  }